{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block title-meta %}
تغییر گذرواژه
{% endblock %}{% endblock %}
{% block main %}
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
                </div>
                <div class="card-body">
                    <form method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                              {{ form.old_password|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-12 mb-0">
                            </div>

                            <div class="form-group col-md-6 mb-0">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                        </div>
                
                        <button class="btn btn-success">ویرایش اطلاعات </button>
                    </form>
                </div>
                
            </div>
        </div>

{% endblock %}