<html dir="rtl">
<head>
	<title>تغییر رمز با موفقیت انجام شد</title>
</head>
<body>
	<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; text-align: center;">
		<h1>گذرواژه جدید با موفقیت ثبت شد</h1>
		<p>
			گذرواژه جدید تنظیم شد اکنون میتوانیئ وارد وبگاه شوید <a href="{% url 'login' %}">ورود</a>
		</p>
	</div>
</body>
</html>