{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}
عملیات با موفقیت انجام شده
{% endblock %}{% endblock %}
{% block main %}
        <div class="col-md-8 text-center mx-auto">
            <div class="card card-success">
                <div class="card-header">
                  <p class="card-title mb-0 float-left">تغییر رمز عبور</p>
                </div>
                <div class="card-body py-4">
                        <p class="py-2">گذرواژه با موفقیت تغییر یافت</p>
                    </form>
{% endblock %}