@font-face{
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
}
body{
    direction: rtl;
    text-align: right;
    font-family: "Sahel";
    font-size: 14px;
}
.navbar-nav{
    margin-left: initial !important;
    margin-right: auto;
}
.post-meta{
    text-align: left;
}
.pager-botton{
    float: left !important;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1, header.masthead .site-heading h1, header.masthead .site-heading .h1 {
    font-size: 40px;
    font-family: "Sahel";
}
.post-title {
    font-size: 28px !important;
    font-family: "Sahel";
}
.post-subtitle {
    font-size: 16px;
    font-family: "Sahel";
}
.nav {
    margin: 35px 0;
    background-color: #ff464900;
    font-family: "Sahel";
   }
.nav ul {
    padding: 0;
           margin: 0;
    list-style: none;
    position: relative;
    font-family: "Sahel";
    } 
.nav ul li {
    display:inline-block;
    background-color: #ff464900;
    }
.nav a {
    display:block;
    padding:0 10px; 
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
   }
.nav a:hover { 
    background-color: #333; 
   }
.nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; 
   } 
.nav ul li:hover > ul {
    display:inherit;
   } 
.nav ul ul li {
    width:230px;
    float:none;
    display:list-item;
    position: relative;
   }
.nav ul ul ul li {
    position: relative;
    top:-60px; 
    left:230px;
   }
.nav ul ul li {
    border: 1px solid white;
   } 
li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }


aside{
    width: 240px;
    position: absolute;
    left: 24px;
    top: 521px;
}

.popular_articles {
    border: 1px solid #bfbfbf;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: -5px 5px #d5d5d5;
}

