{% extends 'blog/base.html' %}
{% load comment_tags %}
{% load ratings %}
{% load humanize %}
{% block custome-header %}
{% load base_tags %}

{% endblock %}
{% block title %} | {{object.title}}{% endblock %}
{% block main %}
		<!-- Page Header-->
		<header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
			<div class="container position-relative px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<div class="site-heading">
							<h1>{{object.title}}</h1>
							{% if article.is_special %}
								<span class="badge badge-danger" style="font-size: 14px; background-color: red;" >ویژه</span>
							{% endif %}
							<time>{{object.publish | naturaltime}}</time>
							<div>{% ratings object %}</div>
							<div>بازدید ها : {{object.hits.count}}</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<!-- Post Content-->
		<article class="mb-4">
			<aside>
				{% popular_articles %}
				{% hot_articles %}
			</aside>
			<div class="container px-4 px-lg-5 ">
				<div class="row gx-4 gx-lg-5 justify-content-center ">
					<div class="col-md-10 col-lg-8 col-xl-7 " >
						<div style="text-align: justify;">
							

							{% if object.is_special %}
								{% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
									{{object.description|safe}}
								{% else %}
									{{article.description|striptags|truncatewords:30}
									<p class="alert alert-warning"> این مقاله ویژه است <a class="alert-link" href="#"> اشتراک ویژه</a> تهییه کنید</p>
								{% endif %}
							{% else %}
								{{object.description|safe}}
							{% endif %}
							{% render_comments object request %}
							{% include_bootstrap %}
						</div>
					</div>
				</div>
			</div>
		</article>
{% endblock %}